@import url('https://fonts.googleapis.com/css?family=Muli:400,700|Open+Sans:300,400,700,800');

/*** LM *** Styles and Fixes ***/

.brdr {
    border-top: none;
    border-left: 1px solid rgb(183, 183, 183);
    border-right: 1px solid rgb(183, 183, 183);
    border-bottom: 0;
}

.brdr-first {
    border: 1px solid rgb(183, 183, 183);
}

.brdr-last {
    border-top: none;
    border-left: 1px solid rgb(183, 183, 183);
    border-right: 1px solid rgb(183, 183, 183);
    border-bottom: 1px solid rgb(183, 183, 183);
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    font-size: 14px;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #666;
    overflow-x: hidden;
    line-height: 25px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

h1,
h2,
h3,
h4 {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}

p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

a {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    color: #006AA1;
}

a:hover {
    color: #526b84;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

.btn,
button {
    padding: 7px 30px;
    border-radius: 0;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: inline-block;
}

.btn:hover,
button:hover {
    color: #fff;
    cursor: pointer;
}

.section {
    padding: 80px 0;
}


.btn-common {
    color: #FFF !important;
    background: #34495E none repeat scroll 0 0;
    position: relative;
    border: transparent;
    z-index: 1;
}
.btn-common.active {
    background: #526b84 none repeat scroll 0 0;
}

.btn-common:before {
    background: #526b84 none repeat scroll 0 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    z-index: -1;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}


.btn-common:hover:before {
    width: 100%;
}

.btn-lg {
    padding: 14px 33px;
    text-transform: uppercase;
    font-size: 16px;
}

i {
    transition: all 0.3s ease-in-out;
}

i:hover {
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}


ul li > ul {
    padding: 0;
    border-style: solid;
    border-width: 4px 0 0 0;
    border-radius: 0;
    left: 0;
    right: 0;
    border-color: transparent;
}

ul li > ul > li > a {
    color: #666;
    padding: 10px 0 10px 15px;
    margin: 5px 0;
}

ul li > ul > li > a:hover,
ul li > ul > li > a .active {
    background: #ecf0f1;
}

ul li > ul > li.active > a {
    background: #ecf0f1;
}



/* ==========================================================================
   About Us Section Start
   ========================================================================== */


.split h2.title {
    /* changedLM */
    font-size: 26px;
    text-transform: uppercase;
    margin: 20px 0 20px 0;
}

.split .lead {
    font-size: 14px;
}

.split .details-list {
    margin-top: 36px;
    /* newLM */
    margin-right: 30px;
}

.split .details-list h3 {
    color: #006AA1;
    font-size: 16px;
    font-weight: 300;
}


#content {
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 600px;
}

footer {
    background: #282828;
    color: #b7b6b6;
}

/* newLM */
footer a {
    color: #b7b6b6;
    text-decoration: underline;
}

footer .small-title {
    margin-bottom: 30px;
    color: #fff;
}

footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

footer ul li {
    line-height: 25px;
}

footer ul li a {
    color: #999;
}

.images img {
    width: 100%;
}

#eid-status-image {
    width: 5%;
    margin-left: 5px;
}

