<!DOCTYPE html>
<html th:replace="~{base-template/main :: main(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">

<title>eID Service provider - eIDAS Middleware configuration and administration</title>

<section>

    <h1 th:text="'eID Service provider: ' + ${entity.getEntityID()}"></h1>
    <hr class="text-primary" style="height: 4px"/>

    <div class="row m-auto">
        <div class="col-auto">
            <h3 style="float: left">Check connection to DVCA</h3>

        </div>
        <div class="col">
            <form method="POST" th:action="@{'/admin-interface/details/check?entityid=' + ${#uris.escapeQueryParam(entityID)}}">
                <button name="submit" type="submit" value="value" class="btn btn-primary" id="check-button">Start
                    connection check
                </button>
            </form>
        </div>
    </div>
    <hr>

    <input type="text" id="jumpToTab" hidden th:if="${jumpToTab != null}" th:value="${jumpToTab}"/>
    <ul class="nav nav-tabs js-enable" style="height: 0 !important;"
        id="pills-tab"
        role="tablist">
        <li class="nav-item btn-lg text-center" role="presentation" style="padding-bottom: 0;">
            <button class="nav-link active toggleTabChange" id="pills-cvc-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-cvc"
                    type="button" role="tab"
                    aria-controls="pills-cvc" aria-selected="true">
                CVC <span class="fa fa-key"></span>
            </button>
        </li>
        <li class="nav-item btn-lg text-center" role="presentation" style="padding-bottom: 0;">
            <button class="nav-link toggleTabChange" id="pills-rsc-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-rsc"
                    type="button" role="tab"
                    aria-controls="pills-rsc" aria-selected="false">
                RSC <span class="fa fa-file-signature"></span>
            </button>
        </li>
        <li class="nav-item btn-lg text-center" role="presentation" style="padding-bottom: 0;">
            <button class="nav-link toggleTabChange" id="pills-lists-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-lists"
                    type="button" role="tab"
                    aria-controls="pills-lists" aria-selected="false">
                Lists <span class="fa fa-list"></span>
            </button>
        </li>
        <div th:if="${@environment.getProperty('poseidas.tls.renewal.active')}">
            <li class="nav-item btn-lg text-center" role="presentation" style="padding-bottom: 0;">
                <button class="nav-link toggleTabChange" id="pills-tls-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-tls"
                        type="button" role="tab"
                        aria-controls="pills-tls" aria-selected="false">
                    TLS <span class="fa fa-lock"></span>
                </button>
            </li>
        </div>
    </ul>

    <div class="tab-content" id="pills-tabContent">
        <!-- CVC -->
        <div class="tab-pane fade show active mb-2" id="pills-cvc" role="tabpanel" aria-labelledby="pills-cvc-tab">
            <div class="card js-remove-border">
                <div class="card-body">
                    <h5 class="card-title">CVC</h5>
                    <h6 class="card-subtitle mb-4 text-muted">Check CVC information, send initial requests or renew the
                        CVC</h6>
                    <!-- CVC Info Card-->
                    <div class="card shadow">
                        <h4 class="card-header bg-light">CVC Info</h4>
                        <div class="card-body">
                            <div th:if="${entity.isExpiredUnderTwoDaysWithRsc()}"
                                 class="alert alert-warning" role="alert">The CVC has expired. The system tries to
                                renew the CVC in the background. Alternatively, a manual initial request can be
                                performed. Please use this sequence number for the initial request: <label
                                        th:text="${entity.getSuggestedCvcNextSequence()}"/>
                            </div>
                            <div th:if="${entity.isExpiredOverTwoDaysWithRsc()}"
                                 class="alert alert-danger" role="alert">The CVC has expired. No automatic
                                renewal could be performed within the last two days. Further automated renewals will
                                not take place! A new initial request must be made.
                            </div>
                            <div th:if="${entity.isExpiredNoRsc()}"
                                 class="alert alert-danger" role="alert">The CVC has expired. A new initial
                                request must be made.
                            </div>
                            <div th:if="${entity.getServiceProviderStatus().isAutomaticCvcRenewalFailed()} AND ${entity.serviceProviderStatus.isCvcValidity()}" class="alert alert-danger" role="alert">
                                The automatic CVC renewal failed. Please start a manual renewal.
                            </div>
                            <div class="row">
                                <div class="col-12 col-xl-4">
                                    <div class="row cvcInfoBox">
                                        <div class="col-4 col-form-label">CHR:</div>
                                        <pre class="col-8 col-form-label" th:text="${entity.getCHR()}"/>
                                        <div class="col-4 col-form-label">Subject:</div>
                                        <pre class="col-8 col-form-label" th:text="${entity.getSubjectName()}"/>
                                        <div class="col-4 col-form-label">Subject URL:</div>
                                        <pre class="col-8 col-form-label" th:text="${entity.getSubjectURL()}"/>
                                        <div class="col-4 col-form-label">Redirect URL:</div>
                                        <pre class="col-8 col-form-label" th:text="${entity.getRedirectURL()}"/>
                                        <div class="col-4 col-form-label">Terms of usage:</div>
                                        <pre class="col-8 col-form-label"
                                             th:text="${entity.getTermsOfUsagePlainText()}"/>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-4">
                                    <div class="row cvcInfoBox">
                                        <div class="col-4 col-form-label">CAR:</div>
                                        <pre class="col-8 col-form-label" th:text="${entity.getCAR()}"/>
                                        <div class="col-4 col-form-label">Issuer:</div>
                                        <pre class="col-8 col-form-label" th:text="${entity.getIssuerName()}"/>
                                        <div class="col-4 col-form-label">Issuer URL:</div>
                                        <pre class="col-8 col-form-label" th:text="${entity.getIssuerURL()}"/>
                                        <div class="col-4 col-form-label">Valid from:</div>
                                        <pre class="col-8 col-form-label" th:text="${entity.getValidFrom()}"/>
                                        <div class="col-4 col-form-label">Valid until:</div>
                                        <pre class="col-8 col-form-label" th:text="${entity.getValidUntil()}"/>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-4">
                                    <div class="row cvcInfoBox">
                                        <div class="col-4 col-form-label">Matches TLS:</div>
                                        <pre class="col-8 col-form-label" th:text="${entity.serviceProviderStatus.isCvcTLSLinkStatus() ? '✔':'❌'}"/>
                                        <div class="col-4 col-form-label">Matches URL:</div>
                                        <pre class="col-8 col-form-label" th:text="${entity.serviceProviderStatus.isCvcUrlMatch() ? '✔':'❌'}"/>
                                    </div>
                                </div>
                            </div>
                            <div th:unless="${entity.getCHR() == null or entity.getCHR().isEmpty()}">
                                <hr>
                                <form method="POST"
                                      th:action="@{'/admin-interface/details/renewCVC?entityid=' + ${#uris.escapeQueryParam(entityID)}}">
                                    <button type="submit" name="submit" value="value" class="btn btn-primary w-100"
                                            id="renew-cvc-button">
                                        Renew this CVC
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow mt-3">
                        <h4 class="card-header bg-light">Initial CVC request</h4>
                        <div class="card-body">
                            <div th:unless="${entity.getCHR() == null or entity.getCHR().isEmpty()}"
                                 class="alert alert-warning" role="alert">
                                You already have an authorization certificate. Please only make a new initial
                                request
                                after consultation with the authorization CA.
                            </div>
                            <form action="#"
                                  th:action="@{'/admin-interface/details/initialRequest?entityid=' + ${#uris.escapeQueryParam(entityID)}}"
                                  th:object="${form}" method="post" id="initial-request-form">
                                <div class="form-group row">
                                    <div th:replace="~{fragments/form :: inputRow_text('Country code*', 'countryCode', 'The two character country code')}"/>
                                    <div th:replace="~{fragments/form :: inputRow_text('CHR Mnemonic*', 'chrMnemonic', 'Your specific mnemonic')}"/>
                                    <div th:replace="~{fragments/form :: inputRow_number('Sequence number*', 'sequenceNumber', 'Sequence number from which the new CVC will start counting')}"/>
                                    <div class="ms-3">
                                        *Required fields
                                    </div>
                                </div>
                                <div class="form-group mt-2">
                                    <button type="submit" class="btn btn-primary w-100"
                                            value="Send initial request to DVCA">Send initial request to DVCA
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--        RSC-->
        <div class="tab-pane fade show active js-remove-class mb-2" id="pills-rsc" role="tabpanel"
             aria-labelledby="pills-rsc-tab">
            <div class="card js-remove-border">
                <div class="card-body">
                    <h5 class="card-title">RSC (Request Signer Certificate)</h5>
                    <h6 class="card-subtitle mb-4 text-muted">Create, download and inspect the RSC</h6>

                    <div class="row">
                        <div class="col">
                            <div class="card shadow">
                                <h4 class="card-header bg-light">RSC info</h4>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row" id="rsc-info-table">
                                                <div class="col-3 col-form-label">Is RSC in use:</div>
                                                <div class="col-9 col-form-label"
                                                     th:text="${entity.serviceProviderStatus.rscCurrentValidUntil == null ? '❌' : '✔'}"/>
                                                <div class="col-3 col-form-label">Valid until:</div>
                                                <div class="col-9 col-form-label"
                                                     th:text="${entity.serviceProviderStatus.rscCurrentValidUntil}"/>
                                                <div class="col-3 col-form-label">RSC pending</div>
                                                <div class="col-9 col-form-label" th:classappend="${entity.serviceProviderStatus.rscRenewalError == null ? '' : 'bg-danger text-white'}"
                                                     th:text="${entity.serviceProviderStatus.rscRenewalError != null ? ('⚠ Error in automatic RSC renewal: ' + entity.serviceProviderStatus.rscRenewalError) : entity.serviceProviderStatus.rscPendingPresent ? '✔' : '❌'}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow">
                                <h4 class="card-header bg-light">RSC actions</h4>
                                <div class="card-body d-grid gap-2">
                                    <form method="POST"
                                          th:action="@{'/admin-interface/details/generateRSC?entityid=' + ${#uris.escapeQueryParam(entityID)}}"
                                          th:object="${form}"
                                          th:unless="${entity.serviceProviderStatus.rscAnyPresent}"
                                          id="generate-rsc-form">
                                        <div class="form-group row" th:unless="${entity.isPublicClient()}">
                                            <label class="col-sm-4 col-form-label" for="form:rscChrId">Holder
                                                for
                                                request signer
                                                certificate</label>
                                            <div class="col-sm-8">
                                                <input type="text" name="form:rscChrId" class="form-control"
                                                       id="form:rscChrId"
                                                       th:field="*{rscChr}">
                                            </div>
                                        </div>
                                        <button name="submit" type="submit" value="value"
                                                class="btn btn-primary w-100">
                                            Generate RSC
                                        </button>
                                    </form>
                                    <form action="#" method=get
                                          th:action="@{'/admin-interface/details/generateAndSendRSC'}"
                                          th:if="${entity.serviceProviderStatus.canGenerateAndSendRsc}">
                                        <input hidden name="entityid" type="text" th:value="${entityID}">
                                        <button type="submit" class="btn btn-primary w-100"
                                                value="Generate And Send RSC" id="generate-send-rsc-button">Generate And Send RSC
                                        </button>
                                    </form>
                                    <form action="#" method=get
                                          th:action="@{'/admin-interface/details/downloadRSC'}"
                                          th:if="${entity.serviceProviderStatus.rscAnyPresent}">
                                        <input hidden name="entityid" type="text" th:value="${entityID}">
                                        <button type="submit" class="btn btn-primary w-100"
                                                value="Download RSC" id="download-rsc-button">Download RSC
                                        </button>
                                        <div th:unless="${entity.serviceProviderStatus.canGenerateAndSendRsc} or ${entity.serviceProviderStatus.canSendPendingRsc}">
                                            <p class="text-danger">There is a new request signer certificate.
                                                Please
                                                make sure
                                                to send it manually (via email) to the DVCA if you have not yet
                                                done
                                                so.</p>
                                        </div>
                                    </form>
                                    <form action="#" method=get
                                          th:action="@{'/admin-interface/details/sendPendingRSC'}"
                                          th:if="${entity.serviceProviderStatus.canSendPendingRsc}">
                                        <input hidden name="entityid" type="text" th:value="${entityID}">
                                        <button type="submit" class="btn btn-primary w-100"
                                                value="Send Pending RSC" id="send-pending-rsc-button">Send Pending RSC
                                        </button>
                                    </form>
                                    <form action="#" method=get
                                          th:action="@{'/admin-interface/details/deletePendingRSC'}"
                                          th:if="${entity.serviceProviderStatus.rscPendingPresent}">
                                        <input hidden name="entityid" type="text" th:value="${entityID}">
                                        <button type="submit" class="btn btn-primary w-100"
                                                value="Delete Pending RSC" id="delete-pending-rsc-button">Delete Pending RSC
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--        LISTS-->
        <div class="tab-pane fade show active js-remove-class mb-2" id="pills-lists" role="tabpanel"
             aria-labelledby="pills-lists-tab">
            <div class="card js-remove-border">
                <div class="card-body">
                    <h5 class="card-title">Lists</h5>
                    <h6 class="card-subtitle mb-4 text-muted">Check status of the Block, Master and
                        Defect List</h6>
                    <div class="row">
                        <div class="col">
                            <div class="card shadow mb-3">
                                <h5 class="card-header bg-light">Block List</h5>
                                <div class="card-body">
                                    <div class="row" id="black-list-info">
                                        <div class="col-3">Available:</div>
                                        <div class="col-9"
                                             th:text="${entity.serviceProviderStatus.blackListPresent ? '✔' : '❌'}"/>
                                        <div class="col-3">Last renewal:</div>
                                        <div class="col-9"
                                             th:text="${entity.serviceProviderStatus.blackListPresent ? entity.serviceProviderStatus.blackListLastRetrieval: '-'}"/>
                                        <div class="col-3">CA reachable:</div>
                                        <div class="col-9"
                                             th:text="${entity.serviceProviderStatus.blackListDVCAAvailability ? '✔' : '❌'}"/>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow mb-3">
                                <h5 class="card-header bg-light">Master List</h5>
                                <div class="card-body">
                                    <div class="row" id="master-list-info">
                                        <div class="col-3">Available:</div>
                                        <div class="col-9"
                                             th:text="${entity.serviceProviderStatus.masterListPresent ? '✔' : '❌'}"/>
                                        <div class="col-3">Last renewal:</div>
                                        <div class="col-9"
                                             th:text="${entity.serviceProviderStatus.masterListPresent ? entity.serviceProviderStatus.masterListLastRetrieval : '-'}"/>
                                        <div class="col-3">CA reachable:</div>
                                        <div class="col-9"
                                             th:text="${entity.serviceProviderStatus.masterListDVCAAvailability ? '✔' : '❌'}"/>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow mb-3">
                                <h5 class="card-header bg-light">Defect List</h5>
                                <div class="card-body">
                                    <div class="row" id="defect-list-info">
                                        <div class="col-3">Available:</div>
                                        <div class="col-9"
                                             th:text="${entity.serviceProviderStatus.defectListPresent ? '✔' : '❌'}"/>
                                        <div class="col-3">Last renewal:</div>
                                        <div class="col-9"
                                             th:text="${entity.serviceProviderStatus.defectListPresent ? entity.serviceProviderStatus.defectListLastRetrieval : '-'}"/>
                                        <div class="col-3">CA reachable:</div>
                                        <div class="col-9"
                                             th:text="${entity.serviceProviderStatus.defectListDVCAAvailability ? '✔' : '❌'}"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col" th:unless="${entity.getCHR() == null or entity.getCHR().isEmpty()}">
                            <div class="card shadow mb-3">
                                <h5 class="card-header bg-light">List actions</h5>
                                <div class="card-body">
                                    <div class="form-group mb-3">
                                        <form method="POST"
                                              th:action="@{'/admin-interface/details/renewBlackList?entityid=' + ${#uris.escapeQueryParam(entityID)}}">
                                            <button type="submit" name="submit" value="value"
                                                    class="btn btn-primary w-100" id="renew-blacklist-button">
                                                Renew Block List
                                            </button>
                                        </form>
                                    </div>
                                    <div class="form-group">
                                        <form method="POST"
                                              th:action="@{'/admin-interface/details/renewMasterDefectList?entityid=' + ${#uris.escapeQueryParam(entityID)}}">
                                            <button type="submit" name="submit" value="value"
                                                    class="btn btn-primary w-100"
                                                    id="renew-masterdefectlist-button">
                                                Renew Master and Defect List
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--        TLS-->
        <div class="tab-pane fade show active js-remove-class mb-2" id="pills-tls" role="tabpanel"
             aria-labelledby="pills-tls-tab">
            <div class="card js-remove-border">
                <div class="card-body">
                    <h5 class="card-title">TLS Client Authentication</h5>
                    <h6 class="card-subtitle mb-4 text-muted">Create and send a new CSR to renew the TLS
                        client key pair for this service provider. Poll a new client
                        certificate or delete pending CSR</h6>
                    <div class="row">
                        <div class="col">
                            <div class="card shadow">
                                <h4 class="card-header bg-light">TLS client authentication info</h4>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row row-cols-2" id="mTLS-info-table">
                                                <div class="col col-form-label">Current client authentication
                                                    certificate valid until:
                                                </div>
                                                <div class="col col-form-label"
                                                     th:text="${entity.serviceProviderStatus.getCurrentTlsCertValidUntil() == null ? '-' : entity.serviceProviderStatus.getCurrentTlsCertValidUntil()}"/>
                                                <div class="col col-form-label">Is CSR pending:</div>
                                                <div class="col col-form-label"
                                                     th:text="${entity.serviceProviderStatus.isCsrPending() ? '✔' : '❌'}"/>
                                                <div th:if="${entity.serviceProviderStatus.isCsrPending()}"
                                                     th:remove="tag">
                                                    <div class="col col-form-label">Not poll before:</div>
                                                    <div class="col col-form-label"
                                                         th:text="${entity.serviceProviderStatus.getNotPollBefore()}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col" th:unless="${entity.getCHR() == null or entity.getCHR().isEmpty()}">
                            <div class="card shadow mb-3">
                                <h5 class="card-header bg-light">TLS Client Actions</h5>
                                <div class="card-body">
                                    <div th:if="${entity.getServiceProviderStatus().getRscCurrentValidUntil() == null and not entity.getServiceProviderStatus().isCsrPending()}">
                                        This Service is only available when a valid RSC is in use
                                    </div>
                                    <div th:if="${not entity.getServiceProviderStatus().isCsrPending() and entity.getServiceProviderStatus().getRscCurrentValidUntil() != null}"
                                         class="form-group mb-3">
                                        <form method="POST"
                                              th:object="${form}"
                                              th:action="@{'/admin-interface/details/renewTLSClientCert?entityid=' + ${#uris.escapeQueryParam(entityID)}}"
                                              class="row g-3">
                                            <div th:if="${@environment.getProperty('hsm.type') == 'PKCS11'}">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                           id="generateNewKey"
                                                           th:value="true"
                                                           th:field="*{generateNewKey}">
                                                    <label class="form-check-label" for="generateNewKey">Generate
                                                        a new key for CSR</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                           id="keyIdentifier" th:field="*{generateNewKey}"
                                                           value="false">
                                                    <label class="form-check-label" for="keyIdentifier">
                                                        Use present key for CSR</label>
                                                </div>
                                            </div>
                                            <div th:unless="${@environment.getProperty('hsm.type') == 'PKCS11'}">
                                                <div th:replace="~{fragments/configOptions :: keypairsRenewTlsClientKeyPair('mTLS Key Pair','tlsKeyPairNameToUseForNewCsr', 'The key pair to be used to generate a CSR. Select \'Generate New Key Pair\' to use a new key', ${entity.getCurrentTlsClientKeyPairName()})}"></div>
                                            </div>
                                            <div class="col-auto">
                                                <button type="submit" name="submit" value="value"
                                                        class="btn btn-primary w-100"
                                                        id="renew-tls-client-button">
                                                    Request new tls client key pair
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <div th:if="${entity.getServiceProviderStatus().isCsrPending()}"
                                         class="form-group d-grid gap-2">
                                        <form method="GET"
                                              th:action="@{'/admin-interface/details/pollTLSClientCert?entityid=' + ${#uris.escapeQueryParam(entityID)}}"
                                              class="row g-3">
                                            <input hidden name="entityid" type="text" th:value="${entityID}">
                                            <button type="submit" name="submit"
                                                    value="Poll Client Certificate"
                                                    class="btn btn-primary w-100"
                                                    id="poll-tls-client-button">
                                                Poll Client Certificate
                                            </button>
                                        </form>
                                        <form method="GET"
                                              th:action="@{'/admin-interface/details/deletePendingCsr?entityid=' + ${#uris.escapeQueryParam(entityID)}}"
                                              class="row g-3">
                                            <input hidden name="entityid" type="text" th:value="${entityID}">
                                            <button type="submit" name="submit" value="Delete Pending CSR"
                                                    class="btn btn-primary w-100"
                                                    id="delete-csr-button">
                                                Delete Pending CSR
                                            </button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script th:src="@{/admin-interface/js/js-save-tabs.js}"></script>
</section>

</html>


