<!DOCTYPE html>
<html th:replace="~{base-template/main :: main(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<title>Set new password - eIDAS Middleware configuration and administration</title>

<section>
    <div align="center" class="container">

        <div class="my-5 card shadow w-100">
            <div class="card-header bg-light">
                <h2 sec:authorize="!isAuthenticated()">Please set a password for the admin interface.</h2>
                <h2 sec:authorize="isAuthenticated()">Change the password for the admin interface.</h2>
            </div>
            <div class="card-body">
                <form method="post" th:action="@{__${passwordAction}__}" th:object="${newPasswordModel}">
                    <div sec:authorize="isAuthenticated()"
                         th:replace="~{fragments/form :: inputRow_password('Enter old password', 'oldPassword', '')}"/>
                    <div th:replace="~{fragments/form :: inputRow_password('Enter new password', 'newPassword', '')}"/>
                    <div th:replace="~{fragments/form :: inputRow_password('Repeat new password', 'newPasswordRepeat', '')}"/>
                    <div th:replace="~{fragments/form :: submitText('Set password')}"></div>
                </form>
            </div>
        </div>
    </div>
</section>
</html>
