<!DOCTYPE html>
<html th:replace="~{base-template/main :: main(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">

<title>Key management - eIDAS Middleware configuration and administration</title>

<section>

    <h1>Key management</h1>
    <hr class="text-primary" style="height: 4px"/>

    <div class="card col shadow p-1 mb-4">
        <div class="card-body">
            <h5 class="card-title">
                Extract certificate or key pair from key store <span
                    th:text="${keyStoreInfo.name  + ' (' + keyStoreInfo.keyStoreType + ')'}"></span>
            </h5>
            <div class="row mb-2">
                <div class="card shadow col p-1 m-1">
                    <div class="card-body">
                        <h5 class="card-title">Extract certificate</h5>
                        <h4 th:if="${keyStoreInfo.possibleCertificateAlias.isEmpty()}">The key store does not have any
                            entries that can be used as certificates</h4>
                        <form th:if="${not keyStoreInfo.possibleCertificateAlias.isEmpty()}"
                              th:action="@{'/admin-interface/keymanagement/createCertificateOrKeyFromKeystore/createCertificate?keystorename=' +  ${#uris.escapeQueryParam(keyStoreInfo.name)}}"
                              method="post"
                              th:object="${createCertificateFromKeystoreModel}"
                              id="extractCertificateForm">

                            <input type="hidden" name="keystore" th:value="${keyStoreInfo.name}">
                            <div class=" row m-1">
                                <p th:errors="${createCertificateFromKeystoreModel}" class="alert alert-danger"></p>
                            </div>

                            <div th:replace="~{fragments/form :: inputRow_text('Certificate name', 'name', 'Name to identify the certificate')}"/>

                            <div class="form-group row m-1">
                                <label class="col-sm-3 col-form-label text-left" for="certalias">Alias</label>
                                <div class="col-sm-9">
                                    <select class="form-select" id="certalias"
                                            th:classappend="${#fields.hasErrors('alias') ? 'border-danger' : ''}"
                                            th:field="*{alias}">
                                        <option th:each="a : ${keyStoreInfo.possibleCertificateAlias}"
                                                th:text="${a}"
                                                th:value="${a}"></option>
                                    </select>
                                    <p class="m-0 text-danger" th:errors="*{alias}"/>
                                    <p class="text-secondary">List of available aliases</p>
                                </div>
                            </div>
                            <br/>
                            <div th:replace="fragments/form :: submitTextPasteIcon('Extract')"/>
                        </form>
                    </div>
                </div>
                <div class="card shadow col p-1 m-1">
                    <div class="card-body">
                        <h4 th:if="${keyStoreInfo.possibleKeyPairAlias.isEmpty()}">The key store does not have any
                            entries that can be used as key pairs</h4>
                        <form th:if="${not keyStoreInfo.possibleKeyPairAlias.isEmpty()}" method="post"
                              th:action="@{'/admin-interface/keymanagement/createCertificateOrKeyFromKeystore/createKeypair?keystorename=' + ${#uris.escapeQueryParam(keyStoreInfo.name)}}"
                              th:object="${createKeypairFromKeystoreModel}"
                              id="extractKeyPairForm">
                            <h5 class="card-title">Extract key pair</h5>

                            <input type="hidden" th:name="keystore" th:value="${keyStoreInfo.name}">
                            <div class=" row m-1">
                                <p th:errors="${createKeypairFromKeystoreModel}" class="alert alert-danger"></p>
                            </div>
                            <div th:replace="~{fragments/form :: inputRow_text('Key pair name', 'name', 'Name to identify the key pair')}"/>

                            <div class="form-group row m-1">
                                <label class="col-sm-3 col-form-label text-left" for="keyPairalias">Alias</label>
                                <div class="col-sm-9">
                                    <select class="form-select" id="keyPairalias"
                                            th:classappend="${#fields.hasErrors('alias') ? 'border-danger' : ''}"
                                            th:field="*{alias}">
                                        <option th:each="a : ${keyStoreInfo.possibleKeyPairAlias}"
                                                th:text="${a}"
                                                th:value="${a}"></option>
                                    </select>
                                    <p class="m-0 text-danger" th:errors="*{alias}"/>
                                    <p class="text-secondary">List of available aliases</p>
                                </div>
                            </div>
                            <th:block th:if="${keyStoreInfo.keyStoreType == 'PKCS12'}">
                                <div class="form-group row m-1">
                                    <div class="col"><i class="fa fa-exclamation-triangle"></i> The key password of the
                                        key pair entry has to be the same as the PKCS12 key store password.
                                    </div>
                                </div>
                            </th:block>
                            <th:block th:unless="${keyStoreInfo.keyStoreType == 'PKCS12'}">
                                <div th:replace="~{fragments/form :: inputRow_password('Key pair password', 'password', 'Password to unlock key pair')}"/>
                            </th:block>
                            <br/>
                            <div th:replace="fragments/form :: submitTextPasteIcon('Extract')"/>

                        </form>
                    </div>
                </div>
            </div>
            <div th:replace="fragments/form :: abort('/admin-interface/keymanagement')"/>
        </div>
    </div>


</section>

</html>
