<!DOCTYPE html>
<html th:replace="~{base-template/main :: main(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">

<title>Key management - eIDAS Middleware configuration and administration</title>

<section>

    <h1>Key management</h1>
    <hr class="text-primary" style="height: 4px"/>

    <div class="card col shadow p-1 mb-4">
        <div class="card-body">
            <h5 class="card-title">
                Delete certificate <span th:text="${name}"></span>
            </h5>
            <p>Do you really want to delete the certificate <b th:text="${name}"/>?</p>
            <br/>


            <form method="post" th:action="${'/admin-interface/keymanagement/deleteCertificate/' + name }">
                <input type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}"/>
                <div th:replace="~{fragments/form :: deleteAndAbort('certificate', '/admin-interface/keymanagement')}"/>
            </form>
        </div>
    </div>


</section>

</html>
