<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="certificates(name, field, desc)">
    <div class=" form-group row m-1">
        <label class="col-sm-3 col-form-label text-left" th:for="${name.replace(' ','-')}" th:text="${name}"></label>
        <div class="col-sm-9">
            <select class="form-select" th:id="${field}"
                    th:classappend="${#fields.hasErrors(field) ? 'border-danger' : ''}"
                    th:field="*{__${field}__}">
                <option value=""></option>
                <option th:each="cert : ${#certificates}"
                        th:text="${cert.name}"
                        th:value="${cert.name}"></option>
            </select>
            <p class="m-0 text-danger" th:errors="*{__${field}__}"/>
            <p class="text-secondary" th:text="${desc}"/>
        </div>
    </div>
</div>

<div th:fragment="keypairs(name, field, desc)">
    <div class=" form-group row m-1">
        <label class="col-sm-3 col-form-label text-left" th:for="${name.replace(' ','-')}" th:text="${name}"></label>
        <div class="col-sm-9">
            <select class="form-select" th:id="${field}"
                    th:classappend="${#fields.hasErrors(field) ? 'border-danger' : ''}"
                    th:field="*{__${field}__}">
                <option value=""></option>
                <option th:each="keypair : ${#keypairs}"
                        th:text="${keypair.name}"
                        th:value="${keypair.name}"></option>
            </select>
            <p class="m-0 text-danger" th:errors="*{__${field}__}"/>
            <p class="text-secondary" th:text="${desc}"/>
        </div>
    </div>
</div>

<div th:fragment="keypairsRenewTlsClientKeyPair(name, field, desc, current)">
    <div class="col-auto">
        <label class="col-form-label text-left" th:for="${name.replace(' ','-')}"
               th:text="${name}"></label>
    </div>

    <div class="col-auto">
        <select class="form-select" th:id="${field}"
                th:classappend="${#fields.hasErrors(field) ? 'border-danger' : ''}"
                th:name="${field}">
            <option value="generateNewKeyPair" selected="selected">Generate New Key Pair</option>

            <th:block th:each="keypair : ${#keypairs}">
                <th:block
                        th:with="checkResult=${#KeyChecker.checkKeyPairValidForTlsClientRenewal(keypair.name, current)}">
                    <option
                            th:text="${keypair.name + ((checkResult.reason.isEmpty) ? '' : (' (' + checkResult.reason + ')')) }"
                            th:value="${keypair.name}"
                            th:disabled="${not checkResult.isValid}"></option>
                    }"/>
                </th:block>
            </th:block>


        </select>
        <p class="m-0 text-danger" th:errors="*{__${field}__}"/>
        <p class="text-secondary col-auto" th:text="${desc}"/>
    </div>
</div>

</html>