<!DOCTYPE html>
<html th:replace="~{base-template/main :: main(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<title>Metadata files</title>

<section>

    <h1>Metadata files</h1>
    <hr class="text-primary" style="height: 4px"/>

    <div class="card col shadow p-1 mb-4">
        <div class="card-body">
            <h5 class="card-title">
                Delete metadata file
            </h5>
            <p>Do you really want to delete the metadata file with the entity ID <b th:text="${entityId}"/>?</p>
            <br/>
            <textarea th:text="${content}" class="w-100" style="min-height: 25vh" disabled></textarea>

            <form method="post"
                  th:action="${'/admin-interface/metadataConfig/remove?entityID=' + #uris.escapePathSegment(entityId)}">
                <input type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}"/>
                <div th:replace="~{fragments/form :: deleteAndAbort('metadata file', '/admin-interface/metadataConfig')}"/>
            </form>
        </div>
    </div>


</section>

</html>
